<div ng-controller="KardexController">
    <div class="ml-0 row mt-4 mb-4">
        <a class="btn btn-sm btn-light" href="/#!/patients">< Volver al listado de Pacientes</a>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>{{ patientName }}</h3>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <md-datepicker
                ng-model="dt"
                md-max-date="today"
                md-current-view="month"
                ng-change="dateChange()"
            ></md-datepicker>
        </div>
    </div>
    <hr />
    <div class="row ml-0 pt-2">
        <div class="pl-0 col-12 col-md-10">
            <h4>Kardex</h4>
        </div>
        <div class="pl-0 col-12 col-md-2">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#notes">
                Agregar
            </button>
        </div>
    </div>
    <div class="row ml-0 pt-2">
        <div class="row ml-0 pt-2 mt-4 table-responsive">
            <div class="pl-0 col-12">
                <table class="table table-hover table-sm table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="col-5">Medicamento</th>
                            <th scope="col" class="col-2">Vía</th>
                            <th scope="col" class="col-1">Dosis</th>
                            <th scope="col">Fecha y Hora</th>
                            <th scope="col" class="col-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="kardex in kardexList">
                            <td scope="row">{{ kardex.medicina }}</td>
                            <td>{{ kardex.via }}</td>
                            <td>{{ kardex.dosis }}</td>
                            <td>{{ kardex.fecha }}</td>
                            <td>
                                <button type="button" class="btn btn-info btn-sm" ng-click="editKardex(kardex.id)">
                                    <span class="oi oi-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="removeKardex(kardex.id)">
                                    <span class="oi oi-circle-x"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="notes" tabindex="-1" role="dialog" aria-labelledby="kardexModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="kardexModalLabel">Agregar registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Fecha</label><br>
                            <md-datepicker
                                ng-model="dt"
                                md-max-date="today"
                                md-current-view="month"
                                ng-change="dateChange()"
                            ></md-datepicker>
                        </div>
                        <div class="form-group">
                            <label for="medicineRecord">Medicación</label>
                            <input type="text" class="form-control" id="medicineRecord" ng-model="medicineRecord">
                        </div>
                        <div class="form-group">
                            <label for="viaIdRecord">Vía</label>
                            <select class="custom-select form-control" id="viaIdRecord" ng-model="viaIdRecord">
                                <option value="1">Via Oral</option>
                                <option value="2">Intra venosa</option>
                                <option value="3">Intra muscular</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dosisRecord">Dosis</label>
                            <input type="text" class="form-control" id="dosisRecord" ng-model="dosisRecord">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="saveKardex()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
